body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background-color: #f8f0f6;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 2em;
    background-color: #f9d1e5;
    color: #333;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    color: #ff99c8;
}

main {
    padding: 1em;
}

a {
    text-decoration: none;
    color: #ff99c8;
}

a:hover {
    text-decoration: underline;
}

nav {
    text-align: center;
    margin-top: 2em;
}

nav a {
    margin: 0 10px;
}

button {
    background-color: #ff99c8;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #ff6699;
}
